body {
    margin: auto;
    width: 800px;
    text-align: center;
}

table {
    background-color: transparent;
    border: transparent;
}

td {
    font-size: 15px;
    text-align: center;
    color: #fff;
    border: #000 2px solid;
    background-color: #18440d;
}